{% extends "contacts/base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        
        <div class="navbar-nav">
            
            <a class="nav-item nav-link" href="{{obj.get_update_url}}">Update</a>
            <a class="nav-item nav-link" href="{{obj.get_delete_url}}">Delete</a>
            
        </div>
        
    </div>
</nav>
    {{obj.firstName}} {{obj.lastName}}
    <br>
    {{obj.contactNumber}}
    <br>
    {{obj.email}}
    <br>
    {{obj.address}}
    <br>
    <div>
        <a href="{% url "contacts:list-view"%}">All Contacts</a>
    </div>
{% endblock content %}
    
