{% extends 'contacts/base.html' %}
{% block content %}
<center>   
    {% if searched %}
        <h1>
        You searched for {{searched}}
        </h1>
        <br>
        {% for con in contact %}
            {{con.firstName}}
            {{con.lastName}}
            {{con.contactNumber}}
            {{con.email}}
            {{con.address}}
            <br>
        {% endfor %}
    {% else %} 
        <h1>
        You did not search for anything !        
        </h1>        
    {% endif %}
</center>
{% endblock content %}